body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*@font-face {
font-family:mainRegular;
src: url(GlacialIndifference-Regular.otf);
}
@font-face {
font-family:mainBold;
src: url(GlacialIndifference-Bold.otf);
}
@font-face {
font-family:designFont;
src: url(Nefelibata-Script.otf);
}
@font-face {
font-family:Seasons;
src: url(TheSeasons-Reg.otf);
}*/
span,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
ul,
input,
label,
a {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    color: #fff;
}


.header {
    width: 100%;
    position: relative;
    background: #efede9;
}

.mainLogo {
    width: 150px;
}

/*.homeHeader{
overflow-x: hidden;
}*/
.navBarArea {
    width: 100%;
    justify-content: flex-end;
}

.mainNavBar {
    background-color: unset !important;
    margin-bottom: 80px;
    padding: 24px 0px;
}

.navBarArea .nav-item .nav-link {
    color: #fff;
    padding: 0 12px;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.navBarArea .nav-item .nav-link:hover {
    color: #fff;
}

.navItemIcon {
    width: 18px;
}

.navBarArea .nav-item:last-child .nav-link {
    border-right: 0px !important;
}

.header {
    background-image: url("../images/banner-img-1.jpg");
    height: 600px;
}

.overlayClr {
    position: relative;
}

.overlayClr:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgb(0 0 0 / 45%);
}

.headerContentBox {
    /* width: 358px; */
    width: 560px;
    ;
    border: 5px solid #fff;
    border-right: 0px;
    padding: 20px 50px 0px 20px;
    position: relative;
    padding-bottom: 60px;
    position: relative;
}

.headerContentBox h2 {
    font-size: 40px;
    white-space: nowrap;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.headerContentBox p {
    color: #fff;
    font-size: 16px;
}

.fillBtn {
    width: fit-content;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    background-color: #1e293f;
    color: #fff;
    text-align: center;
}

.darkfillBtn {
    width: fit-content;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    background-color: #fff;
    color: #1e293f;
    ;
    text-align: center;
}

.minWdLg {
    min-width: 280px;
}

.positionBtmC {
    position: absolute;
    bottom: -24px;
    /* left: 50%; */
    left: 30%;
    transform: translateX(-50%);
}

.headerContentBox:before {
    content: "";
    width: 5px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 0px;
    right: 0px;
}

.headerContentBox:after {
    content: "";
    width: 5px;
    height: calc(100% - 70px);
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.videoLink {
    position: absolute;
    z-index: 9;
    /* bottom: 60px; */
    bottom: 40px;
    right: -144px;
    width: 182px;
    background-color: #000;
}

.videoLink img {
    width: 100%;
}

.videoLink img:hover {
    opacity: 0.8;
}

.sectionDark {
    background-color: #1e293f;
}


.secMxHt {
    height: 70px;
}

.LineHt64 {
    line-height: 64px;
}

.secMdTitle {
    color: #fff;
    font-size: 26px;
    font-weight: 500;
}

.framebox {
    width: 95%;
    margin: auto;
    position: relative;
    top: -70px;
}

.framebox .featureImg {
    display: block;
    width: 100%;
    height: 160px;
    object-fit: cover;
    border: 3px solid #fff;
    box-shadow: 0px 4px 15px #00000040;
}

.owl-prev,
.owl-next {
    font-size: 30px;
    background: rgb(166, 166, 255);
    color: white;
    border: 0;
    margin: 7px;
}

.owl-item {
    border-radius: 4px;
}

.carouselItem {
    display: block;
    cursor: pointer;
    width: 100%;
    color: unset;
}

.carouselItem:hover {
    color: unset !important;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: none;
    margin-top: 10px;
}

.owl-dot {
    display: none;
}

.featureCardContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px 30px 5px;
    border-bottom: 2px solid #93a2be;
}

.featureCardContent h5 {
    font-size: 16px;
    color: #1e293f;
    font-weight: 600;
}

.featureCardContent p {
    font-size: 14px;
    color: #1e293f;
    font-weight: 400;
}

.sectionDark.secMxHt {
    /* margin-bottom: 180px; */
    margin-bottom: 100px;
}

.secTitle {
    font-size: 34px;
    color: #415171;
    margin-bottom: 20px;
}

.secContentBox p {
    margin-bottom: 50px;
}

.pText {
    font-size: 16px;
    color: #707070;
    font-weight: 400;
}

.secVideo {
    width: 100;
    display: block;
}

.secVideo {
    display: block;
    width: 100%;
}

.secVideo img {
    width: 100%;
    height: 340px;
    object-fit: contain;
}

.pd-r-50 {
    padding-right: 50px;
}

.pd-l-50 {
    padding-left: 50px;
}

.section {
    margin-bottom: 60px;
}

.secClmImg {
    display: block;
    width: 100%;
    height: 340px;
    object-fit: cover;
}

.sectDarkPrimery {
    background-color: #1e293f;
}

.iconTextBox .iconImg {
    width: 90px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.iconTextBox {
    text-align: center;
    margin-bottom: 60px;
}

.iconTextBox p {
    text-align: center;
    color: #93a2be;
    font-size: 18px;
    text-transform: uppercase;
}

.pd-Y-60 {
    padding: 60px 0px;
}

.secTitle.title-3 {
    color: #93a2be;
    margin-bottom: 50px;
    display: block;
}

.testiSliderCOntent {
    padding-right: 70px;
}

.testiSliderImgBox img {
    width: 100%;
}

#testiCarousel {
    max-width: 990px;
    margin: 0 auto;
}

#testiCarousel .carousel-item {
    padding: 40px 0px;
}

.testiSliderCOntent h3 {
    font-size: 28px !important;
    margin-bottom: 20px;
    color: #415171;
}

.tSldrText {
    font-size: 16px !important;
    margin-bottom: 30px;
}

.testiSliderImgBox img {
    width: 290px;
    height: 290px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    border-radius: 20px;
}

.ratingBar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.carousel-indicators [data-bs-target] {
    background-color: #1e293f;
    opacity: 1;
}

.carousel-indicators [data-bs-target].active {
    background-color: #93a2be;
}

.carousel-indicators {
    bottom: -40px;
}

.NewsBox {
    display: flex;
    align-items: center;
    gap: 20px;
}

.secLight {
    background-color: #e2e6ed;
    padding: 36px 0px;
}

.newsContent h5 {
    font-size: 20px;
    font-weight: 500;
    color: #1e293f;
}

.newsContent p {
    collor: #1e293f;
    font-weight: 400;
    font-size: 16px;
}

.inputBar {
    position: relative;
}

.fillInput {
    background-color: #1e293f;
    height: 60px;
    font-size: 14px;
    display: block;
    width: 100%;
    padding: 15px;
    border: 0px;
    border-radius: 4px;
    color: #afafaf;
}

.mailIcon {
    position: absolute;
    top: 20px;
    right: 24px;
    cursor: pointer;
}

.footer {
    background-color: #1e293f;
    padding: 40px 0px 0px;
}

.ftList {
    display: flex;
    flex-direction: column;
}

.ftLogo {
    width: 100%;
}

.ftLogo img {
    width: 200px;
}

.ftTitle {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.ftLink {
    font-size: 14px;
    color: #fff;
    margin-bottom: 8px;
}

.ftHoriList {
    margin-bottom: 0px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.ftHoriList .ftLink {
    margin-bottom: 0px;
    font-size: 12px;
}

.ftText {
    color: #fff;
    font-size: 12px;
}

.ftBottomBar {
    padding: 20px 0px;
    margin-top: 30px;
}

.ftBottomBar {
    border-top: 1px solid #fff;
}

.navbar-toggler {
    padding: 2px 5px !important;
    background-color: #fff;
}









.ftClmRow {
    display: flex;
}

.ftClmRow .col-md-4 {
    flex: 1;
}

.modalFormBox {
    padding: 20px;
}

.formTitle h3 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.pageLoderModal {
    padding: 20px 0px;
}

.closeModalBtn {
    position: absolute;
    right: 20px;
    top: 16px;
}

.pageLoderModal {
    padding: 40px 0px;
}

.frmSubmitBtn {
    width: 120px;
    margin: 0 auto;
    background: #e71f22;
    border: 0;
    padding: 8px 20px;
    color: #fff;
    border-radius: 100px;
    display: block;
}

.modalLogo {
    width: 140px;
    height: 85px;
    object-fit: contain;
    object-position: bottom;
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;
    background: #1e293f;
    padding: 20px;
    clip-path: polygon(50% 0%, 100% 39%, 100% 100%, 0 100%, 0 38%);
}

.pageLoderModal {
    border-radius: 20px;
}

.fieldBar {
    margin-bottom: 15px !important;
}

.labelText {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

.propDetailImg {
    height: 450px;
    width: 100%;
    object-fit: cover;
}

.modlBtn {
    margin: 0 auto;
    border: 0px;
    width: 120px;
}
